{% extends 'inside.html.twig' %}

{% block title %}Demande index{% endblock %}

{% block main %}
    <h1>Demande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date_insertion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td>{{ demande.id }}</td>
                <td>{{ demande.titre }}</td>
                <td>{{ demande.description }}</td>
                <td>{{ demande.dateInsertion ? demande.dateInsertion|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_demande_show', {'id': demande.id}) }}">show</a>
                    <a href="{{ path('app_demande_edit', {'id': demande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_demande_new') }}">Create new</a>
{% endblock %}
